:root {
    --primary-color: #2b3180;
}

/* loading.css */

/* Centraliza o conteúdo e define a fonte */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    color: #333;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Container principal com o novo estilo */
#loading-screen {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    box-shadow: 1px 1px 2px 1px var(--primary-color);
}

/* Estilo da logo */
.loading-logo {
    width: 200px;
    margin-bottom: 20px;
}

/* Título e subtítulo da aplicação */
.loading-title {
    font-size: 2.2em;
    font-weight: 700;
    color: #761c34;
    margin: 0;
}



/* Container do spinner, para separar do texto */
.loader-spinner {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* O spinner em si */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
}

/* Animação para girar o spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Texto de carregamento */
.loading-text {
    font-size: 1em;
    color: #888;
}